<?xml version="1.0" encoding="utf-8" ?>
<!--https://github.com/NLog/NLog/wiki/Configuration-file-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="default" xsi:type="File" 
      				encoding="UTF-8" 
      				layout="${longdate} ${level:uppercase=true} ${logger}: ${message} ${exception}" 
      				fileName="${basedir}/logs/PROJECT_${shortdate}.txt" 
      				maxArchiveFiles="30" />
    </targets>
    <rules>
      <logger name="*" minlevel="Info" writeTo="default" />
    </rules>
</nlog>